<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Issue
        <small>CRUD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Issue</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header">-->
                    <!--<i class="fa fa-cogs"></i>-->
                    <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-sm-6 col-sm-offset-6">
                        <div id="example1_filter" class="dataTables_filter">
                            <label class="margin">
                                <a ui-sref="app.add-issue" class="btn btn-sm bg-olive btn-flat">Add</a>
                            </label>
                        </div>
                    </div>

                    <div class="table-responsive" style="overflow-x: hidden">
                        <table id="issues_table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <td>Room</td>
                                <th>Name</th>
                                <th>Notes</th>
                                <th style="text-align: center; width: 60px">Serious</th>
                                <th width="60px">Action</th>
                            </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="issue in vm.issues" my-repeat-directive>
                                    <td>{{ issue.issue_date }}</td>
                                    <td>{{ issue.room_name }}</td>
                                    <td>{{ issue.first_name }} {{ issue.last_name }}</td>
                                    <td>{{ issue.content }}</td>
                                    <td style="text-align: center">
                                        <span><i class="fa fa-check-square-o"></i></span>
                                    </td>
                                    <td class="text-center" width="60px">
                                        <div class="tools">
                                            <a ui-sref="app.issue-detail({id:issue.issues_id})" title="View detail"><i class="fa fa-external-link"></i></a>
                                            <a ui-sref="app.issue-edit({id:issue.issues_id})" title="Edit"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

