<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Revenue
        <small>CRUD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Revenue</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header">-->
                    <!--<i class="fa fa-cogs"></i>-->
                    <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-12">
                        <form class="form-horizontal" ng-submit="vm.searchData(1)">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Year</label>
                                    <div class="col-sm-3">
                                        <select class="form-control input-sm" name="search_year" ng-model="vm.search_year"
                                            ng-options="key as gender for (key , gender) in vm.data.years">
                                        </select>
                                    </div>

                                    <label class="col-sm-2 control-label">Month</label>
                                    <div class="col-sm-3">
                                        <select class="form-control input-sm" name="search_month" ng-model="vm.search_month">
                                            <option value="0">All</option>
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="search_renter" class="col-sm-2 control-label">Room</label>

                                    <div class="col-sm-3">
                                        <select id="search_room" name="search_renter" ng-model="vm.search_room" class="form-control input-sm select2"
                                                ng-options="room.room_id as room.room_name for room in vm.data.rooms">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-sm btn-primary btn-block btn-flat">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-12">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Show</label>

                                <div class="col-sm-2">
                                    <select name="example1_length" class="form-control input-sm" ng-model="vm.search_page_size" ng-change="vm.searchData(1)">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    &nbsp;
                                </div>
                                <div class="col-sm-2">
                                    <a href=""
                                       class="btn btn-sm btn-info btn-flat btn-block"> Add All </a>
                                </div>
                                <div class="col-sm-1">
                                    &nbsp;
                                </div>
                                <div class="col-sm-2">
                                    <a ui-sref="app.finance-revenue-form"
                                       class="btn btn-sm bg-olive btn-flat btn-block"> Add </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Room</th>
                                <th>Month</th>
                                <th>Price (VND)</th>
                                <th>Electric bill (VND)</th>
                                <th>Water bill (VND)</th>
                                <th>Others bill (VND)</th>
                                <th>Total (VND)</th>
                                <th>Received (VND)</th>
                                <th>Owed (VND)</th>
                                <th>Notes</th>
                                <!--<th>Date</th>-->
                                <th width="90px">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="revenue in vm.data.revenue_data">
                                <td><a ui-sref="app.finance-revenue-detail({id:revenue.revenue_id})">{{vm.room_maps[revenue.room_id]}}</a></td>
                                <td>{{revenue.revenue_year_month}}</td>
                                <td class="text-right">{{revenue.room_money | number}}</td>
                                <td class="text-right">{{revenue.electric_money | number}}</td>
                                <td class="text-right">{{revenue.water_money | number}}</td>
                                <td class="text-right">{{revenue.other_money | number}}</td>
                                <td class="text-right">{{revenue.sum_money | number}}</td>
                                <td class="text-right">{{revenue.payment | number}}</td>
                                <td class="text-right">{{revenue.debt | number}}</td>
                                <td>Note</td>
                                <!--<td>09/11/2016</td>-->
                                <td class="text-center" width="90px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-revenue-detail({id:revenue.revenue_id})" title="View detail"><i class="fa fa-external-link"></i></i></a>
                                        <a ui-sref="app.finance-revenue-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a ui-sref="app.finance-revenue-payment"><i class="fa fa-money" ></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->