<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Room
        <small>Overview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Room</li>
    </ol>
</section>

<!-- Main content -->
<section class="content ehostel-room">

    <div class="row">
        <div class="col-md-12" ng-repeat="zone in vm.zones">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-dashboard"></i>
                    <h3 class="box-title">{{zone.zone_name}}</h3>&nbsp;&nbsp;&nbsp;<small>(<i class="fa fa-map-marker margin-r-5"></i>{{zone.zone_address}})</small>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <div class="box-body">
                    <div class="sumary">
                        <!-- radio - status -->
                        <div class="form-group">
                            <span class="margin-r-5">Summary: </span>
                            <label class="margin-r-5">
                                <input ng-model="zone.status" ng-value="0" id="sttAllId" type="radio" name="status-{{zone.zone_id}}" class="minimal" > <b class="label room-status-0" for="sttAllId"> ALL</b>
                            </label>
                            <label class="margin-r-5">
                                <input ng-model="zone.status" ng-value="1" id="sttServedId" type="radio" name="status-{{zone.zone_id}}" class="minimal"> <b class="label room-status-1" for="sttServedId"> Full</b>
                            </label>
                            <label class="margin-r-5">
                                <input ng-model="zone.status" ng-value="2" id="sttEmptyId" type="radio" name="status-{{zone.zone_id}}" class="minimal"> <b class="label room-status-2" for="sttEmptyId"> Empty</b>
                            </label>
                            <label class="margin-r-5">
                                <input ng-model="zone.status" ng-value="3" id="sttPendingId" type="radio" name="status-{{zone.zone_id}}" class="minimal"> <b class="label room-status-3" for="sttPendingId"> Pending</b>
                            </label>
                            <label class="margin-r-5">
                                <input ng-model="zone.status" ng-value="4" id="sttEndId" type="radio" name="status-{{zone.zone_id}}" class="minimal"> <b class="label room-status-4" for="sttEndId"> Comming to end</b>
                            </label>
                        </div>

                        <a ng-repeat="room in zone.rooms" ui-sref="app.room-detail({id:{{room.room_id}}})"
                           class="btn btn-app room-status-{{room.status}}" ng-if="zone.status == room.status || zone.status == 0">
                            <i class="fa fa-home"></i> {{room.room_name}}
                        </a>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- ./row -->
    </div>
    <!-- ./row -->
</section>
<!-- /.content -->
