<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ehostel
        <small>Contract Add</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.ehostel-main">Ehostel</a></li>
        <li class="active">Contract add</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header">-->
                    <!--<i class="fa fa-cogs"></i>-->
                    <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <form class="form-horizontal" ng-submit="">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="hotel" class="col-sm-2 control-label">Hotel</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="hotel" name="hotel" placeholder="hotel name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start-date" class="col-sm-2 control-label">Start</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control datepicker" id="start-date" value="09/11/2016">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="period" class="col-sm-2 control-label">Period</label>

                            <div class="col-sm-8">
                                <select class="form-control" id="period" name="period">
                                    <option>1 Year</option>
                                    <option>2 Years</option>
                                    <option>3 Years</option>
                                    <option>4 Years</option>
                                    <option>5 Years</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">Phone</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email" name="email" placeholder="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="col-sm-2 control-label">Note</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" id="note" rows="3" placeholder="note..."></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.ehostel-main" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->