<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Employee
        <small>Edit</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.employee">Employee</a></li>
        <li class="active">Employee edit</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="col-sm-4">
                            <div class="row" style="border: 5px solid #ddd">
                                <div class="img-responsive">
                                    <img src="http://www.theoverlander.org/forum/download/file.php?avatar=2_1419247556.jpg" width="100%" class="img-responsive">
                                </div>
                                <input type="file" class="form-control" id="attach" accept="image/*">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Username" value="user_id_1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" placeholder="Password" value="********">
                                </div>
                            </div>
                            <hr>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Nguyen Van A" value="Nguyen Van Linh">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Gender</label>

                                <div class="col-sm-8">
                                    <label class="control-label">
                                        <input type="radio" name="r1" class="minimal"   value="1" id="maleId"><span for="maleId" value="1"> Male</span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="r1" class="minimal" value="0" id="femaleId"><span for="femaleId"> Female</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Birth Day</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control datepicker" value="11/11/1111">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Tp. HCM" value="No.12 Tran Hung Dao">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' placeholder="0123456789" data-mask value="123-4567">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Gmail</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="google@gmail.com" value="user@gmail.com">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.employee" class="btn btn-default pull-left">Cancel</a>
                        <a type="submit" class="btn btn-info pull-right">Save</a>
                    </div>
                    <!-- /.box-footer -->
                </form>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content 