<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cost
        <small>CRUD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Cost</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header">-->
                <!--<i class="fa fa-cogs"></i>-->
                <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="search_renter" class="col-sm-2 control-label">Cost</label>

                                    <div class="col-sm-2">
                                        <select id="search_renter" name="search_renter" class="form-control input-sm">
                                            <option value="10">--- All ---</option>
                                            <option value="10">0 -> 500,000</option>
                                            <option value="25">500,000 -> 1,000,000</option>
                                            <option value="50">1,000,000 -> 1,500,000</option>
                                            <option value="100">1,500,000 -> 12,000,000</option>
                                        </select>
                                    </div>
                                    <label for="reservation" class="col-sm-1 control-label">Range</label>

                                    <div class="col-sm-2">
                                        <input type="text" class="form-control input-sm reservation" id="reservation"
                                               name="reservation" placeholder="">
                                    </div>
                                    <div class="col-sm-1">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-sm btn-primary btn-block btn-flat">Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="box-footer">-->
                            <!---->
                            <!--</div>-->
                        </form>
                    </div>

                    <div class="col-sm-12">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Show</label>

                                <div class="col-sm-1">
                                    <select name="example1_length" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7">
                                    <label class="text-light-blue" style="padding-top: 5px"><b>Summary:
                                        10,000,000</b></label>
                                </div>
                                <div class="col-sm-1">
                                    &nbsp;
                                </div>
                                <div class="col-sm-1">
                                    <a ui-sref="app.finance-cost-form"
                                       class="btn btn-sm bg-olive btn-flat btn-block">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th style="text-align:right">Cost (VND)</th>
                                <th>Pay person</th>
                                <th>Received person</th>
                                <th>Room</th>
                                <th>Notes</th>
                                <th width="60px">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>10/07/2016</td>
                                <td style="text-align:right">1,000,000</td>
                                <td>Jane</td>
                                <td>Tom</td>
                                <td>Room 1</td>
                                <td>Content ...</td>
                                <td class="text-center" width="60px">
                                    <div class="tools">
                                        <a ui-sref="app.finance-cost-form"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="" class="cost-delete"><i class="fa fa-trash-o"></i></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->