<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Contract
        <small>CRUD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Contract</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header">-->
                    <!--<i class="fa fa-cogs"></i>-->
                    <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="search_renter" class="col-sm-2 control-label">Renter</label>

                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm" id="search_renter" name="search_renter" placeholder="">
                                    </div>
                                    <label for="reservation" class="col-sm-2 control-label">Reservation</label>

                                    <div class="col-sm-3">
                                        <input type="text" class="form-control input-sm reservation" id="reservation" name="reservation" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-3">
                                        <div class="checkbox">
                                            <input type="checkbox" id="search_status" name="search_status" checked value="1"> Liquidated
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-sm btn-primary btn-block btn-flat">Search</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <!--<div class="box-footer">-->
                            <!--</div>-->
                        </form>
                    </div>
                    <div class="col-sm-12">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Show</label>

                                <div class="col-sm-1">
                                    <select name="example1_length" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-sm-9">
                                    &nbsp;
                                </div>
                                <div class="col-sm-1">
                                    <a ui-sref="app.contract-form"
                                       class="btn btn-sm bg-olive btn-flat btn-block">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Lessor</th>
                                <th>Renter</th>
                                <th>Room</th>
                                <th style="text-align: right">Price (VND)</th>
                                <th style="text-align: right">Deposit (VND)</th>
                                <th>Start</th>
                                <th>End</th>
                                <th width="110px">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011001</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 2</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011002</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 2</td>
                                <td style="text-align: right">1,500,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011003</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 3</td>
                                <td style="text-align: right">2,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011004</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 2</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011005</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 5</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011006</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 6</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011007</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 7</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011008</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 8</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011009</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 9</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD0100100110010</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 10</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011011</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 11</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD010010011012</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 12</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD0100100110013</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 13</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a ui-sref="app.contract-form" title="Edit">SHD0100100110014</a></td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 14</td>
                                <td style="text-align: right">1,000,000</td>
                                <td style="text-align: right">1,000,000</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td class="text-center" width="110px">
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-liquidate" title="Liquidate"><i class="fa fa-check-square-o"></i></a>
                                        <a ui-sref="app.contract-form" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete" title="Delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->