<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Contract
            <small>CRUD</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Contract</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <!--<div class="box-header">-->
                        <!--<i class="fa fa-cogs"></i>-->
                        <!--<h3 class="box-title">CRUD</h3>-->
                    <!--</div>-->
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="col-sm-6">
                            <div class="dataTables_length" id="example1_length">
                                <label>Show
                                    <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries
                                </label>
                                <label class="margin">Search:
                                    <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="example1_filter" class="dataTables_filter">
                                <label class="margin">
                                    <a ui-sref="app.contract-form" class="btn btn-sm bg-olive btn-flat">Add contract</a>
                                </label>
                            </div>
                        </div>

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Lessor</th>
                                <th>Renter</th>
                                <th>Room</th>
                                <th>Price</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>SHD010010011001</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 2</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011002</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 2</td>
                                <td>1,500,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011003</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 3</td>
                                <td>2,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011004</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 4</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011005</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 5</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011006</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 6</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011007</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 7</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011008</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 8</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011009</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 9</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD0100100110010</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 10</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011011</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 11</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD010010011012</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 12</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD0100100110013</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 13</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>SHD0100100110014</td>
                                <td>Hong Ha</td>
                                <td>Jane</td>
                                <td>Room 14</td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.contract-detail"><i class="fa fa-external-link"></i></a>
                                        <a ui-sref="app.contract-form"><i class="fa fa-edit"></i></a>
                                        <a href="" class="contract-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer clearfix">
                        <ul class="pagination no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->