<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cost
        <small>Form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.finance-cost">Cost</a></li>
        <li class="active">Form</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">-->
                <!--<h3 class="box-title">Horizontal Form</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" ng-submit="vm.save_cost()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control pull-right datepicker" id="datepicker_add">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Cost</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="price" placeholder="..." value="1,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pay_persion" class="col-sm-2 control-label">Payment person</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="pay_persion" placeholder="..." value="Jan">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="receive_persion" class="col-sm-2 control-label">Received person</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="receive_persion" placeholder="..." value="Tom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="room" class="col-sm-2 control-label">Room</label>

                            <div class="col-sm-8">
                                <select class="form-control" id="room" name="room">
                                    <option>--- Empty ---</option>
                                    <option>Room 1</option>
                                    <option selected>Room 2</option>
                                    <option>Room 3</option>
                                    <option>Room 4</option>
                                    <option>Room 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Notes</label>
                            <div class="col-sm-8">
                                <textarea class="form-control pull-right" id="note" rows="3" placeholder="note..."></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.finance-cost-main" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->