<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Contract
        <small>Form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.contract-main">Contract</a></li>
        <li class="active">Form</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">-->
                <!--<h3 class="box-title">Horizontal Form</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" ng-submit="vm.save_contract()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="no" class="col-sm-2 control-label">No.</label>

                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="no" name="no"
                                       placeholder="no.">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lessor" class="col-sm-2 control-label">Lessor</label>

                            <div class="col-sm-8">
                                <select class="form-control" id="lessor" name="owner">
                                    <option>User 1</option>
                                    <option selected>User 2</option>
                                    <option>User 3</option>
                                    <option>User 4</option>
                                    <option>User 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="renter" class="col-sm-2 control-label">Renter</label>

                            <div class="col-sm-8">
                                <select class="form-control" id="renter" name="owner">
                                    <option>Jane</option>
                                    <option selected>Alexanre</option>
                                    <option>Tom</option>
                                    <option>Marry</option>
                                    <option>Push</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="room" class="col-sm-2 control-label">Room</label>

                            <div class="col-sm-8">
                                <select class="form-control" id="room" name="room">
                                    <option>Room 1</option>
                                    <option selected>Room 2</option>
                                    <option>Room 3</option>
                                    <option>Room 4</option>
                                    <option>Room 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Price</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="price" placeholder="..." value="2,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deposit" class="col-sm-2 control-label">Deposit</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="deposit" placeholder="..." value="1,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start-date" class="col-sm-2 control-label">Start</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control datepicker" id="start-date" value="09/11/2016">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="end-date" class="col-sm-2 control-label">End</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control datepicker" id="end-date" value="09/11/2016">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="col-sm-2 control-label">Note</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" id="note" rows="3" placeholder="note..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attach" class="col-sm-2 control-label">Attach</label>

                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="attach" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.contract-main" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->