<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Guest
        <small>Main</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a class="active">Guest</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-12">
                        <form class="form-horizontal" ng-submit="vm.searchData(1)">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="search_name" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-3">
                                        <input type="text" id="search_name" class="form-control input-sm" name="search_name" ng-model="vm.search_name">
                                    </div>
                                    <label for="search_gender" class="col-sm-2 control-label">Gender</label>

                                    <div class="col-sm-3">
                                        <select id="search_gender" name="search_gender" ng-model="vm.search_gender" class="form-control input-sm"
                                                ng-options="key as gender for (key , gender) in vm.data.genders">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="search_room" class="col-sm-2 control-label">Room</label>

                                    <div class="col-sm-3">
                                        <select id="search_room" name="search_renter" ng-model="vm.search_room" class="form-control input-sm select2"
                                                ng-options="room.room_id as room.room_name for room in vm.data.rooms">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-sm btn-primary btn-block btn-flat">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Show</label>

                                <div class="col-sm-1">
                                    <select name="example1_length" class="form-control input-sm" ng-model="vm.search_page_size">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-sm-9">
                                    &nbsp;
                                </div>
                                <div class="col-sm-1">
                                    <a ui-sref="app.guest-form({id:0})"
                                       class="btn btn-sm bg-olive btn-flat btn-block">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Birth Day</th>
                                    <th>Phone</th>
                                    <th>Gender</th>
                                    <th>Career</th>
                                    <th>Id</th>
                                    <th width="90px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="guest in vm.data.guest_data">
                                    <td><a ui-sref="app.guest-detail({id:guest.guest_id})">{{guest.first_name}} {{guest.last_name}}</a></td>
                                    <td>{{guest.birthday}}</td>
                                    <td>{{guest.phone}}</td>
                                    <td>{{vm.data.genders[guest.sex]}}</td>
                                    <td>{{guest.job_name}}</td>
                                    <td>{{guest.identity_card_no}}</td>
                                    <td class="text-center" width="90px">
                                        <div class="tools">
                                            <a ui-sref="app.guest-detail({id:guest.guest_id})"><i class="fa fa-external-link"></i></a>
                                            <a ui-sref="app.guest-form({id:guest.guest_id})"><i class="fa fa-edit"></i></a>
                                            <a href="" ng-click="vm.deleteGuest(guest.guest_id, guest.version_no)" class="guest-delete"><i class="fa fa-trash-o"></i></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->