<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="./assets/adminLTE_2/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Hong Ha</p>
                <a href=""><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <!-- <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form> -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li ui-sref-active="active"><a ui-sref="app.dashboard"><i class="fa fa-dashboard"></i>
                <span>Dashboard</span></a>
            </li>
            <li ui-sref-active="active"><a ui-sref="app.ehostel-main"><i class="fa fa-home"></i>
                <span>Ehostel</span></a>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-home"></i> <span>Room</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-down pull-right"></i>
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active"><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Overview</a>
                    </li>
                    <!--<li ui-sref-active="active"><a ui-sref="app.room-crud"><i class="fa fa-cogs"></i> CRUD</a></li>-->
                </ul>
            </li>
            <li ui-sref-active="active"><a ui-sref="app.guest-main"><i class="fa fa-users"></i> <span>Guest</span></a>
            </li>
            <li ui-sref-active="active"><a ui-sref="app.contract-main"><i class="fa fa-edit"></i> <span>Contract</span></a>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-dollar"></i> <span>Finance</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-down pull-right"></i>
                      <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active"><a ui-sref="app.finance-revenue"><i class="fa fa-money"></i> Revenue</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="app.finance-cost"><i class="fa fa-check-square"></i>
                        Cost</a></li>
                </ul>
            </li>

            <li ui-sref-active="active"><a ui-sref="app.issue-main"><i class="fa fa-chain-broken"></i> <span>Issue</span></a>
            </li>
            <li class="treeview" ui-sref-active="active">
                <a href=""><i class="fa fa-user-secret"></i> 
                    <span>Employee</span> 
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right"></i>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active"><a ui-sref="app.employee"><i class="fa fa-user"></i> Manage user</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.employee-role"><i class="fa fa-cog"></i> Manage role</a></li>
                </ul>
            </li>
            <li ui-sref-active="active"><a ui-sref="app.config-form"><i class="fa fa-cogs"></i><span>Config</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
