<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Contract
        <small>SHD010010011001</small>
        <span class="label room-status-end">Comming to end</span>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Contract</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header with-border">-->
                    <!--<h3 class="box-title">About Me</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-6">
                        <strong><i class="fa fa-book margin-r-5"></i> No.</strong>

                        <p class="text-muted">SHD010010011001</p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-home margin-r-5"></i> Room</strong>

                        <p class="text-muted"><a ui-sref="app.room-detail">Room 2</a></p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-user margin-r-5"></i> Lessor</strong>

                        <p class="text-muted"><a ui-sref="app.user-detail">Hong Ha</a></p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-pencil margin-r-5"></i> Renter</strong>

                        <p class="text-muted"><a ui-sref="app.guest-detail">Jane</a></p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-money margin-r-5"></i> Price</strong>

                        <p class="text-muted">2,000,000 VND</p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-anchor margin-r-5"></i> Deposit</strong>

                        <p class="text-muted">1,000,000 VND</p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-calendar margin-r-5"></i> Range</strong>

                        <p class="text-muted">09/11/2016 - 09/11/2017</p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Note</strong>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>

                    <div class="col-sm-12">
                        <strong><i class="fa fa-file-image-o margin-r-5"></i> Attach</strong>

                        <p class="text-muted"><img class="img-responsive pad" src="assets/adminLTE_2/dist/img/photo2.png" alt="Photo"></p>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->