.ehostel li.active i.fa-angle-down {display: inline-block}
.ehostel li.active i.fa-angle-left {display: none}
.ehostel li i.fa-angle-down {display: none}
.ehostel li i.fa-angle-left {display: inline-block}

.ehostel .tools .fa {
  margin-right: 5px;
}

.ehostel .room-status-0 {background-color: #FFFF00;color: #666; border: 1px solid #ddd}
.ehostel .room-status-1 {background-color: #008d4c;color: #fff; border: 1px solid #ddd}
.ehostel .room-status-2 {background-color: #f4f4f4;color: #666; border: 1px solid #ddd}
.ehostel .room-status-3 {background-color: #e08e0b;color: #fff; border: 1px solid #ddd}
.ehostel .room-status-4 {background-color: #d73925;color: #fff; border: 1px solid #ddd}

.ehostel-room .sumary {margin: 0 0 30px 10px}
.ehostel-room .room-dashboard {margin: 30px 0 15px -5px}
.ehostel-room .dataTables_filter {text-align: left}
.ehostel-room .dataTables_filter label button {margin:-1px 0 0 0}

.ehostel div.dataTables_length input {display: inline-block;}

.ehostel img.focus {border: 3px solid #00a7d0;}

.ehostel .table-responsive {display: block;width: 100%;}

.ehostel .ehostel-img-form {height: 100px}