<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Employee
        <small>ADD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.employee">Employee</a></li>
        <li class="active">Add employee</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">

                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="col-sm-4">
                            <div class="row" style="border: 5px solid #ddd">
                                <div class="img-responsive">
                                    <img src="http://www.theoverlander.org/forum/download/file.php?avatar=2_1419247556.jpg" width="100%" class="img-responsive">
                                </div>
                                <input type="file" class="form-control" id="attach" accept="image/*">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control disabled" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.name" placeholder="Nguyen Van A">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Gender</label>

                                <div class="col-sm-8">
                                    <label class="control-label">
                                        <input type="radio" name="r1" class="minimal"   value="1" id="maleId"><span for="maleId"> Male</span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="r1" class="minimal" value="0" id="femaleId"><span for="femaleId"> Female</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Position</label>

                                <div class="col-sm-8">
                                    <select id="search_renter" name="search_renter" class="form-control select2">
                                        <option value="1">--- None ---</option>
                                        <option value="2">Director</option>
                                        <option value="3">Staff</option>
                                        <option value="4">Receptionist</option>
                                        <option value="5">Guard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Birth Day</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control datepicker">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Tp. HCM">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' placeholder="0123456789" data-mask>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Gmail</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="google@gmail.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Skype</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="skype">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <md-button ui-sref="app.employee" class="btn btn-default">Cancel</md-button>
                        <md-button type="submit" class="btn btn-info pull-right">Save</md-button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
