<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ehostel
        <small>Main</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Ehostel main</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header">-->
                    <!--<i class="fa fa-cogs"></i>-->
                    <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="example1_length">
                            <label class="margin">

                                Show
                                <select name="example1_length" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="example1_filter" class="dataTables_filter">
                            <label class="margin">
                                <a ui-sref="app.ehostel-contract-add" class="btn btn-sm bg-olive btn-flat">Add</a>
                            </label>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Hotel</th>
                                <td>Start</td>
                                <th>Period</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Notes</th>
                                <th width="60px">Action</th>
                            </tr>
                            </thead>
                            <tbody ng-init="records = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">
                                <tr ng-repeat="record in records">
                                    <td>Hong Ha {{record}}</td>
                                    <td>1{{record}}/1{{record}}/111{{record}}</td>
                                    <td>5 years</td>
                                    <td>Google@gmail.com</td>
                                    <td>1234567890</td>
                                    <td>Some texts ......</td>
                                    <td class="text-center" width="60px">
                                        <div class="tools">
                                            <a ui-sref="app.ehostel-contract-detail" title="View detail"><i class="fa fa-external-link"></i></a>
                                            <a ui-sref="app.ehostel-contract-edit" title="Edit"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->