<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Revenue
        <small>Form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.finance-revenue">Revenue</a></li>
        <li class="active">Form</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">-->
                <!--<h3 class="box-title">Horizontal Form</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" ng-submit="vm.save_revenue()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="room" class="col-sm-2 control-label">Room</label>

                            <div class="col-sm-8">
                                <select class="form-control" id="room" name="room">
                                    <option>Room 1</option>
                                    <option selected>Room 2</option>
                                    <option>Room 3</option>
                                    <option>Room 4</option>
                                    <option>Room 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="month" class="col-sm-2 control-label">Month</label>
                            <div class="col-sm-3">
                                <select id="month" name="month" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9" selected>9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                             </div>

                            <label for="year" class="col-sm-2 control-label">Year</label>
                            <div class="col-sm-3">
                                <select id="year" name="month" class="form-control">
                                    <option value="9" selected>2016</option>
                                    <option value="10">2015</option>
                                    <option value="11">2014</option>
                                    <option value="12">2013</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Price</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control pull-right" id="price" name="price" value="1,000,000" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Electric</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control pull-right" id="electric-sum" placeholder="...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Water</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control pull-right" id="water-sum" placeholder="...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="other" class="col-sm-2 control-label">Other</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control pull-right" id="other">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="other" class="col-sm-2 control-label">Debt</label>

                            <div class="col-sm-8">
                                <p class="form-control" > 2,000,000</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="summary" class="col-sm-2 control-label">Total</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control pull-right" id="summary" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-xs-4">
                            <a ui-sref="app.finance-revenue-main" class="btn btn-default">Cancel</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <button type="submit" class="btn btn-info">Save</button>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary pull-right">Print</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->