<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Guest
        <small>Form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.guest-main">Guest</a></li>
        <li class="active">Form</li>
    </ol>
</section>

<!-- Main content -->
<section class="content ehostel-room">

    <div class="row">
        <div class="col-md-12">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <!-- /.box-header -->
                <!-- form start -->
                <form id="form-guest" class="form-horizontal" ng-submit="vm.saveDataGuest()" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input id="name" type="text" class="form-control" ng-model="vm.data.guest.first_name" placeholder="First name">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="vm.data.guest.last_name" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex1" class="col-sm-2 control-label">Gender</label>

                            <div class="col-sm-8">
                                <label class="control-label">
                                    <input type="radio" name="r1.sex" class="minimal"  ng-model="vm.data.guest.sex" value="1" id="sex1"><span for="sex1"> Male</span>
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="r1.sex" class="minimal" ng-model="vm.data.guest.sex" value="2" id="sex2"><span for="sex2"> Female</span>
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="r1.sex" class="minimal" ng-model="vm.data.guest.sex" value="3" id="sex3"><span for="sex3"> Other</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="room" class="col-sm-2 control-label">Room</label>
                            <div class="col-sm-8">
                                <select id="room" name="room" ng-model="vm.data.guest.room_id" class="form-control select2"
                                        ng-options="room.room_id as room.room_name for room in vm.data.rooms">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="avatar" class="col-sm-2 control-label">Avatar</label>
                            <div class="col-sm-8">
                                <img ng-if="vm.data.guest.avatar_img != null" class="ehostel-img-form" ng-src="{{vm.data.guest.avatar_img}}">
                                <input type="file" class="form-control" id="avatar"  file-model="vm.data.guest.avatar" accept="image/*"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone"  class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-8">
                                <input id="phone" type="text" class="form-control" ng-model="vm.data.guest.phone" data-inputmask='"mask": "(999) 999-9999"' data-mask>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="residential_reg_flg" class="col-sm-2 control-label">Registered</label>
                            <div class="col-sm-4">
                                <label class="control-label">
                                    <input id="residential_reg_flg" type="radio" name="r2" name="residential_reg_flg" ng-model="vm.data.guest.residential_reg_flg" value="1" class="minimal" > Yes
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="r2" name="residential_reg_flg" ng-model="vm.data.guest.residential_reg_flg" class="minimal" value="0"> No
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attach" class="col-sm-2 control-label">Attach</label>
                            <div class="col-sm-8">
                                <img ng-if="vm.data.guest.attach_img != null" class="ehostel-img-form" ng-src="{{vm.data.guest.attach_img}}">
                                <input type="file" class="form-control" id="attach" file-model="vm.data.guest.attach" accept="image/*">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthday" class="col-sm-2 control-label">Birth Day</label>
                            <div class="col-sm-8">
                                <input id="birthday" type="text" class="form-control" ng-model="vm.data.guest.birthday" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="identity_card_no" class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-8">
                                <input id="identity_card_no" type="text" class="form-control" ng-model="vm.data.guest.identity_card_no" placeholder="...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="job_name" class="col-sm-2 control-label">Career</label>
                            <div class="col-sm-8">
                                <input id="job_name" type="text" class="form-control" ng-model="vm.data.guest.job_name" placeholder="Doctor, Student...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-8">
                                <input id="address" type="text" class="form-control" ng-model="vm.data.guest.address" placeholder="TP HCM">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">Vehicle</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<a href="" class="btn btn-sm btn-primary add-vehicle">Add Vehicle</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-4">-->
                                <!--<input type="text" class="form-control pull-right" placeholder="72-X2 1XXX">-->
                            <!--</div>-->
                            <!--<label  class="col-sm-1 control-label">Photo</label>-->
                            <!--<div class="col-sm-3">-->
                                <!--<input type="file" class="form-control" accept="image/*" multiple>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div id="add-vehicle" style="display: none"></div>-->

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <md-button ui-sref="app.guest-main" class="btn btn-default">Cancel</md-button>
                        <md-button type="submit" class="btn btn-info pull-right">{{vm.data.guest.guest_id == undefine ? 'Insert' : 'Update'}}</md-button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div>
    <!-- /.col -->
</section>
<!-- /.content -->