<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Revenue
        <small>Payment</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.finance-revenue">Revenue</a></li>
        <li class="active">Payment</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">-->
                <!--<h3 class="box-title">Horizontal Form</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" ng-submit="vm.save_revenue_payment()">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Room</label>

                            <div class="col-sm-8">
                                <input class="form-control" disabled value="Room 1">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Month</label>

                            <div class="col-sm-8">
                                <input class="form-control" disabled value="09/2016">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total</label>

                            <div class="col-sm-8">
                                <input class="form-control" disabled value="5,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Debt</label>

                            <div class="col-sm-8">
                                <input class="form-control" disabled value="2,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Summary</label>

                            <div class="col-sm-8">
                                <input class="form-control" disabled value="7,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Received</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Date</label>

                            <div class="col-sm-8">
                                <input class="form-control" disabled value="24/09/2016">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Payer</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Receiver</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Note</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="note" rows="3" placeholder="note..."></textarea>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.finance-revenue-main" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->