<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Contract
        <small>Liquidate</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.contract-main">Contract</a></li>
        <li class="active">Liquidate</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">-->
                <!--<h3 class="box-title">Horizontal Form</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" ng-submit="vm.liquidate_contract()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="no" class="col-sm-2 control-label">No.</label>

                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="no" name="no"
                                       placeholder="no." disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Price</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="price" placeholder="..." value="2,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deposit" class="col-sm-2 control-label">Deposit</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="deposit" placeholder="..." value="1,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sum" class="col-sm-2 control-label">Sum</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="sum" placeholder="..." value="1,000,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="liquidator" class="col-sm-2 control-label">Liquidator</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="liquidator" placeholder="..." value="Admin 1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customer" class="col-sm-2 control-label">Customer</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="customer" placeholder="..." value="Admin 1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="col-sm-2 control-label">Note</label>

                            <div class="col-sm-8">
                                <textarea class="form-control" id="note" rows="3" placeholder="note..."></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.contract-main" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->