<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Employee
        <small>CRUD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Employee</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header">-->
                <!--<i class="fa fa-cogs"></i>-->
                <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">


                    <div class="col-sm-12">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Show</label>

                                <div class="col-sm-2">
                                    <select name="example1_length" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-sm-8">
                                    &nbsp;
                                </div>
                                <div class="col-sm-1">
                                    <a ui-sref="app.add-employee" class="btn btn-sm bg-olive btn-flat btn-block">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 100px">Avatar</th>
                                <th>Regency</th>
                                <th>Infomation</th>
                                <th>Contact</th>
                                <th width="60px">Action</th>
                            </tr>
                            </thead>
                            <tbody ng-init="records = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">
                                <tr ng-repeat="record in records">
                                    <td class="img-responsive"><img src="http://www.theoverlander.org/forum/download/file.php?avatar=2_1419247556.jpg" class="img-responsive" width="100px"></td>
                                    <td>Director</td>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item"><i class="fa fa-info"></i><span>&nbsp;&nbsp;</span>Name: Jone</li>
                                            <li class="list-group-item"><i class="fa fa-info"></i><span>&nbsp;&nbsp;</span>Birthday: 11/11/1111</li>
                                            <li class="list-group-item"><i class="fa fa-map-marker"></i><span>&nbsp;&nbsp;</span>Location: Ho Chi Minh City</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item"><i class="fa fa-phone"></i><span>&nbsp;&nbsp;</span>Phone: 0123456789</li>
                                            <li class="list-group-item"><i class="fa fa-at"></i><span>&nbsp;&nbsp;</span>Email: google@gmail.com</li>
                                        </ul>
                                    </td>
                                    <td class="text-center" width="60px">
                                        <div class="tools">
                                            <a ui-sref="app.employee-edit"><i  class="fa fa-edit"></i></i></a>
                                            <a href=""><i class="fa fa-trash-o"></i></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->