<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Employee
        <small>Role</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Employee Role</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <!--<div class="box-header">-->
                <!--<i class="fa fa-cogs"></i>-->
                <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">


                    <div class="col-sm-12">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Show</label>

                                <div class="col-sm-2">
                                    <select name="example1_length" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-sm-8">
                                    &nbsp;
                                </div>
                                <div class="col-sm-1">
                                    <a ui-sref="app.add-employee"
                                       class="btn btn-sm bg-olive btn-flat btn-block">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Position</th>
                                <th width="60px">Action</th>
                            </tr>
                            </thead>
                            <tbody ng-init="records = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">
                                <tr ng-repeat="record in records">
                                    <td>User {{ record }}</td>
                                    <td>Nguyen Van Nam {{ record }}</td>
                                    <td>Director</td>
                                    <td class="text-center" width="60px">
                                        <div class="tools">
                                            <a href="" data-toggle="modal" data-target="#employeeRoleModal"><i  class="fa fa-edit"></i></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


<div class="modal fade" id="employeeRoleModal" tabindex="-1" role="dialog" aria-labelledby="employeeRoleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Username" value="user1" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Nguyen Van An" value="Nguyen Van An" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Position</label>

                            <div class="col-sm-8">
                                <select id="search_renter" name="search_renter" class="form-control select2">
                                    <option value="1">--- None ---</option>
                                    <option value="2" selected>Director</option>
                                    <option value="3">Staff</option>
                                    <option value="4">Receptionist</option>
                                    <option value="5">Guard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <md-button type="submit" class="btn btn-info pull-right">Save</md-button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>