<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Issue
        <small>Edit</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.issue-main">Issue</a></li>
        <li class="active">Add Edit</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">

                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="search_room" class="col-sm-2 control-label">Room</label>

                            <div class="col-sm-8">
                                <select id="room_id" name="search_renter" class="form-control input-sm select2" tabindex="-1" aria-hidden="true" ng-model="vm.guest_issues.room_id" ng-change="vm.loadGuests(vm.guest_issues.room_id)"  ng-required="required" ng-options="room.room_id as (room.room_name) for room in vm.rooms">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-8">
                                <select id="guest_id" name="search_renter" class="form-control input-sm select2" tabindex="-1" aria-hidden="true" ng-model="vm.guest_issues.guest_id"  ng-required="required" ng-options="guest.guest_id as (guest.first_name + guest.last_name) for guest in vm.guestList">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Note</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="note" rows="3" placeholder="note..." ng-model="vm.guest_issues.content"  ng-required="required" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Serious</label>
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox" name="is_remember" disabled>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attach" class="col-sm-2 control-label">Attach</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="attach" accept="image/*" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.issue-main" class="btn btn-default pull-left">Cancel</a>
                        <a type="submit" ng-click="vm.saveIssue()" class="btn btn-info pull-right">Save</a>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>