<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Issue
        <small>Detail</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.issue-main">Issue</a></li>
        <li class="active">Issue Detail</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">

                <form class="form-horizontal" ng-repeat="issue in vm.issues">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="search_room" class="col-sm-2 control-label">Room</label>

                            <div class="col-sm-8">
                                <select id="search_room" name="search_renter" class="form-control input-sm select2" tabindex="-1" aria-hidden="true" disabled>
                                    <option ng-model="issue.room_name" selected>{{issue.room_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Full name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Nguyen Van A" value="{{issue.first_name}} {{issue.last_name}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Note</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="note" rows="3" placeholder="note..." disabled ng-model="issue.content"></textarea>
                            </div>
                        </div>
<!--                         <div class="form-group">
                            <label class="col-sm-2 control-label">Serious</label>
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox" name="is_remember" checked="checked" disabled>
                                    </label>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="attach" class="col-sm-2 control-label">Attach</label>
                            <div class="col-sm-8">
                                <p class="text-muted"><img class="img-responsive pad" src="assets/adminLTE_2/dist/img/photo2.png" alt="Photo"></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.issue-main" class="btn btn-default pull-left">Back</a>
                        <a ui-sref="app.issue-edit({id:issue.issues_id})" class="btn btn-default pull-right">Edit</a>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>