<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Guest
        <small>Detail</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.guest-main">Guest</a></li>
        <li class="active">{{vm.guest.first_name}} {{vm.guest.last_name}}</li>
    </ol>
</section>

<!-- Main content -->
<section class="content ehostel-room">

    <div class="row">
        <div class="col-md-4">
            <!--/.box -->

            <!-- About Me Box -->
            <div class="box box-widget widget-user-2">
                <div class="widget-user-header bg-aqua-active box-header with-border">
                    <div class="widget-user-image">
                        <img ng-if="vm.guest.avatar != null" class="img-circle" ng-src="{{vm.guest.avatar}}" alt="User Avatar">
                        <img ng-if="vm.guest.avatar == null" class="img-circle" ng-src="./assets/img/default-avatar.png" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{vm.guest.first_name}} {{vm.guest.last_name}}</h3>
                    <h5 class="widget-user-desc">{{vm.guest.gender}} - {{vm.guest.birthday}}</h5>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <strong><i class="fa fa-book margin-r-5"></i> ID</strong>

                    <p class="text-muted">
                        {{vm.guest.identity_card_no}}
                    </p>

                    <hr>

                    <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>

                    <p class="text-muted">
                        {{vm.guest.phone}}
                    </p>

                    <hr>

                    <strong><i class="fa  fa-suitcase margin-r-5"></i> Career</strong>

                    <p class="text-muted">
                        {{vm.guest.job_name}}
                    </p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>

                    <p class="text-muted">
                        {{vm.guest.address}}
                    </p>

                    <hr>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Register</strong>

                    <p class="text-muted"><b>{{vm.guest.residential_reg_flg == 1 ? 'Yes' : 'No'}}</b></p>

                    <hr>

                    <strong><i class="fa fa-file-image-o margin-r-5"></i> Attach</strong>

                    <p class="text-muted" ng-if="vm.guest.attach != null"><img class="img-responsive pad" ng-src="{{vm.guest.attach}}" alt="Photo"></p>
                    <p class="text-muted" ng-if="vm.guest.attach == null">No attach</p>

                    <hr>

                    <strong><i class="fa fa-motorcycle margin-r-5"></i> Motorcycle(s)</strong>

                    <p class="text-muted">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <i class="fa fa-caret-right"></i> Xe 1
                            </div>
                            <div class="col-sm-8">
                                <div class="col-sm-12">
                                    <img class="img-responsive pad" src="assets/adminLTE_2/dist/img/photo2.png" alt="Photo">
                                </div>
                                <div class="col-sm-12">
                                    <img class="img-responsive pad" src="assets/adminLTE_2/dist/img/photo2.png" alt="Photo">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <i class="fa fa-caret-right"></i> Xe 2
                            </div>
                            <div class="col-sm-8">
                                <div class="col-sm-12">
                                    <img class="img-responsive pad" src="assets/adminLTE_2/dist/img/photo2.png" alt="Photo">
                                </div>
                            </div>
                        </div>
                    </p>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-8">
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title ">Detail</h3>
                    <div class="box-tools pull-right">
                        <a ui-sref="app.guest-form({id:vm.guest.guest_id})" data-toggle="modal" class="btn btn-sm bg-olive btn-flat">Edit Guest</a>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">

                    <strong><i class="fa fa-book margin-r-5"></i> Room</strong>

                    <p class="text-muted">
                        <a ng-if="vm.guest.room_id != 0" ui-sref="app.room-detail({id:vm.guest.room_id})">{{vm.guest.room_name}}</a>
                        <p ng-if="vm.guest.room_id == 0" class="text-muted">Empty</p>
                    </p>

                    <hr>

                    <strong><i class="fa fa-chain-broken margin-r-5"></i> Issue</strong>

                    <p class="text-muted">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="active tab-pane">
                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm"
                                                 src="./assets/adminLTE_2/dist/img/user1-128x128.jpg" alt="user image">
                                                <span class="username">
                                                  <a ui-sref="app.guest-detail">Jonathan Burke Jr.</a>
                                                </span>
                                            <span class="description">Shared publicly - 7:30 PM today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <p>
                                            Lorem ipsum represents a long-held tradition for designers,
                                            typographers and the like. Some people hate it and argue for
                                            its demise, but others ignore the hate as they create awesome
                                            tools to help create filler text for everyone from bacon lovers
                                            to Charlie Sheen fans. [<a ui-sref="app.issue-detail">view detail</a>]
                                        </p>
                                    </div>
                                    <!-- /.post -->

                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm"
                                                 src="./assets/adminLTE_2/dist/img/user7-128x128.jpg" alt="User Image">
                                                <span class="username">
                                                  <a ui-sref="app.guest-detail">Sarah Ross</a>
                                                </span>
                                            <span class="description">Sent you a message - 3 days ago</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <p>
                                            Lorem ipsum represents a long-held tradition for designers,
                                            typographers and the like. Some people hate it and argue for
                                            its demise, but others ignore the hate as they create awesome
                                            tools to help create filler text for everyone from bacon lovers
                                            to Charlie Sheen fans. [<a ui-sref="app.issue-detail">view detail</a>]
                                        </p>
                                    </div>
                                    <!-- /.post -->

                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm"
                                                 src="./assets/adminLTE_2/dist/img/user6-128x128.jpg" alt="User Image">
                                                <span class="username">
                                                  <a ui-sref="app.guest-detail">Adam Jones</a>
                                                </span>
                                            <span class="description">Posted 5 photos - 5 days ago</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <p>
                                            Lorem ipsum represents a long-held tradition for designers,
                                            typographers and the like. Some people hate it and argue for
                                            its demise, but others ignore the hate as they create awesome
                                            tools to help create filler text for everyone from bacon lovers
                                            to Charlie Sheen fans. [<a ui-sref="app.issue-detail">view detail</a>]
                                        </p>
                                    </div>
                                    <!-- /.post -->
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                        </div>
                    </p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- ./row -->
</section>
<!-- /.content -->