<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Config
        <small>Form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Config form</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-sm-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <!--<div class="box-header with-border">-->
                <!--<h3 class="box-title">Horizontal Form</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" ng-submit="vm.save_contract()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="name" name="name" placeholder="eHostel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currency-unit" class="col-sm-2 control-label">Currency unit</label>

                            <div class="col-sm-8">
                                <select id="currency-unit" name="currency-unit" class="form-control input-sm">
                                    <option value="vnd" selected="selected">USD</option>
                                    <option value="usd">VND</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="language" class="col-sm-2 control-label">Language</label>

                            <div class="col-sm-8">
                                <select id="language" name="language" class="form-control input-sm">
                                    <option value="eng" selected="selected">English</option>
                                    <option value="vie">Viet Nam</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="electric-price" class="col-sm-2 control-label">Electric price</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="electric-price" placeholder="..." value="3,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="water-price" class="col-sm-2 control-label">Water price</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="water-price" placeholder="..." value="13,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="internet-price" class="col-sm-2 control-label">Internet price</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="internet-price" placeholder="..." value="120,000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date-format" class="col-sm-2 control-label">Date format</label>

                            <div class="col-sm-8">
                                <select id="language" name="language" class="form-control input-sm">
                                    <option value="day_display_format" selected="selected">dd/mm/yyyy</option>
                                    <option value="month_year_display_format">mm/yyyy</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a ui-sref="app.config-form" class="btn btn-default hide">Cancel</a>
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->