<header class="main-header">
    <!-- Logo -->
    <a href="./room_main.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>HH</b>H</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Hong Ha</b> Hostel</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <!--<li class="dropdown notifications-menu">-->
                    <!--<a href="" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i class="fa fa-bell-o"></i>-->
                        <!--<span class="label label-warning">10</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li class="header">You have 10 notifications</li>-->
                        <!--<li>-->
                            <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                            <!--<ul class="menu">-->
                                <!--<li>-->
                                    <!--<a href="#">-->
                                        <!--<i class="fa fa-users text-aqua"></i> 5 new members joined today-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">-->
                                        <!--<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the-->
                                        <!--page and may cause design problems-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">-->
                                        <!--<i class="fa fa-users text-red"></i> 5 new members joined-->
                                    <!--</a>-->
                                <!--</li>-->

                                <!--<li>-->
                                    <!--<a href="#">-->
                                        <!--<i class="fa fa-shopping-cart text-green"></i> 25 sales made-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">-->
                                        <!--<i class="fa fa-user text-red"></i> You changed your username-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="footer"><a href="#">View all</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="./assets/adminLTE_2/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Hong Ha</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="./assets/adminLTE_2/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                            <p>
                                Hong Ha - Manager
                                <small>Nữ - 05/09/1990</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <a href="">View Profile</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="" class="btn btn-default btn-flat" data-toggle="modal" data-target="#updatePasswordModal">Update password</a>
                            </div>
                            <div class="pull-right">
                                <a ui-sref="app.logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
