<div ui-view="header"></div>
<div ui-view="sidebar"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div ui-view="main"></div>
</div>
<!-- /.content-wrapper -->
<div ui-view="footer"></div>

<!-- Modal - update password-->
<div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="vm.change_password()" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update password</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group has-feedback">
                        <label for="password" class="col-sm-3 control-label">Old password</label>
                        <div class="col-sm-9">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Old password"  ng-model="vm.password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="new_password" class="col-sm-3 control-label">New password</label>
                        <div class="col-sm-9">
                            <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New password"  ng-model="vm.new_password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="confirm_password" class="col-sm-3 control-label">Confirm password</label>
                        <div class="col-sm-9">
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Retype new password"  ng-model="vm.confirm_password">
                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal - update password - END-->

<!-- AdminLTE App -->
<script src="assets/adminLTE_2/dist/js/app.min.js"></script>
<!-- eHostel -->
<!--{{--<script src="assets/js/my_ehostel.js"></script>--}}-->
