<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Room
        <small>CRUD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Room CRUD</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <!--<div class="box-header">-->
                    <!--<i class="fa fa-cogs"></i>-->
                    <!--<h3 class="box-title">CRUD</h3>-->
                <!--</div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="example1_length">
                            <label>Show
                                <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                            <label class="margin">Search:
                                <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="example1_filter" class="dataTables_filter">
                            <label class="margin">
                                <a href="" data-toggle="modal" data-target="#roomAddModal" class="btn btn-sm bg-olive btn-flat">Add</a>
                            </label>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Start date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>2,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>3,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2016</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 1</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#roomModal">Room 16</a></td>
                                <td>1,000,000 VND</td>
                                <td>09/11/2017</td>
                                <td>
                                    <div class="tools">
                                        <a ui-sref="app.room-detail"><i class="fa fa-external-link"></i></a>
                                        <a href="" data-toggle="modal" data-target="#roomModal"><i class="fa fa-edit"></i></a>
                                        <a href="" class="room-delete"><i class="fa fa-trash-o"></i></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- Modal - Room-->
<div class="modal fade" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="roomModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit room</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="inputEmail3" placeholder="Room name" value="Room 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-sm-2 control-label">Price</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail1" placeholder="0" value="1000000">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal - Room - END-->

<!-- Modal - Add room-->
<div class="modal fade" id="roomAddModal" tabindex="-1" role="dialog" aria-labelledby="roomAddModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add room</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="inputEmail3" placeholder="Room name" value="Room 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-sm-2 control-label">Price</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail1" placeholder="0" value="1000000">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal - Add room - END-->