<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Revenue
        <small>Detail</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.finance-revenue">Revenue</a></li>
        <li class="active">Detail</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="col-sm-6">
                        <strong><i class="fa fa-home"></i> Room</strong>

                        <p class="text-muted">
                            {{vm.room.room_name}}
                        </p>
                    </div>

                    <div class="col-sm-6">

                        <strong><i class="fa fa-calendar"></i> Month</strong>

                        <p class="text-muted">
                            {{vm.year_month}}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <strong><i class="fa fa-money"></i> Room's Price</strong>

                        <p class="text-muted">
                            {{vm.revenue.room_money | number}}
                        </p>
                    </div>

                    <div class="col-sm-6">

                        <strong><i class="fa fa-money"></i> Other</strong>

                        <p class="text-muted">
                            {{vm.revenue.other_money | number}}
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-money"></i> Electric's Bill</strong>

                        <p class="text-muted">
                            {{vm.revenue.electric_money | number}}
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <strong><i class="fa fa-money"></i> Water's Bill</strong>

                        <p class="text-muted">
                            {{vm.revenue.water_money | number}}
                        </p>
                    </div>

                    <div class="col-sm-6">

                        <strong><i class="fa fa-money"></i> Summary</strong>

                        <p class="text-muted">
                            {{vm.revenue.sum_money | number}}
                        </p>
                    </div>

                    <div class="col-sm-6">

                        <strong><i class="fa fa-money"></i> Received</strong>

                        <p class="text-muted">
                            {{vm.revenue.pre_debt | number}}
                        </p>
                    </div>

                    <div class="col-sm-6">

                        <strong><i class="fa fa-money"></i> Owed</strong>

                        <p class="text-muted">
                            {{vm.revenue.debt | number}}
                        </p>
                    </div>

                     <div class="col-sm-6">

                        <strong><i class="fa fa-user"></i> Receiver</strong>

                        <p class="text-muted">
                            Hong Ha
                        </p>
                     </div>

                    <div class="col-sm-6">

                        <strong><i class="fa fa-calendar"></i> Receive's Date</strong>

                        <p class="text-muted">
                            24/09/2016
                        </p>
                    </div>

                    <div class="col-sm-6">

                        <strong><i class="fa fa-user"></i> Payer</strong>

                        <p class="text-muted">
                            Khoa Nguyen
                        </p>

                    </div>

                    <div class="col-sm-6">

                        <strong><i class="fa fa-sticky-note-o"></i> Note</strong>

                        <p class="text-muted">
                            note...
                        </p>

                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a ui-sref="app.finance-revenue-main" class="btn btn-default">Cancel</a>
                    <a ui-sref="app.finance-revenue-form" class="btn btn-info pull-right">Edit</a>
                </div>
                <!-- /.box-footer -->
             </div>
        </div>
    <!-- /.row -->
    </div>

</section>
<!-- /.content -->