<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{vm.room_data.room_name}}
        <small>Detail</small>
        <span class="label room-status-{{vm.room_data.contract_id != 0 ? 1 : 2}}">{{vm.room_data.contract_id != 0 ? 'Full' : 'Empty'}}</span>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.room-main"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.room-main">Room</a></li>
        <li class="active">{{vm.room_data.room_name}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content ehostel-room">

    <div class="row">
        <div class="col-md-4">
            <!-- USERS LIST -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Guests</h3>

                    <div class="box-tools pull-right">
                        <span class="label label-primary">{{vm.room_data.number_guest}} Guests</span>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li ng-repeat="guest in vm.room_data.guests">
                            <a href="" id="guest_detail_{{guest.guest_id}}" ng-click="vm.selectGuest(guest.guest_id)" class="ehostel-view-guest">
                                <img ng-if="vm.guest_data_id == guest.guest_id" class="focus" ng-src="{{guest.avatar}}" alt="User Avatar">
                                <img ng-if="vm.guest_data_id != guest.guest_id" ng-src="{{guest.avatar}}" alt="User Image">
                            </a>
                            <a class="users-list-name ehostel-view-guest" href="#">{{guest.last_name}}</a>
                            <span class="users-list-date">{{guest.job_name}}</span>
                        </li>
                        <li ng-if="vm.room_data.guests.length == 0">
                            <em><small>Empty</small></em>
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
            </div>
            <!--/.box -->

            <!-- About Me Box -->
            <div class="box box-widget widget-user-2" ng-if="vm.guest_data != null">
                <div class="widget-user-header bg-aqua-active box-header with-border">
                    <div class="widget-user-image">
                        <img ng-if="vm.guest_data.avatar != null" class="img-circle" ng-src="{{vm.guest_data.avatar}}" alt="User Avatar">
                        <img ng-if="vm.guest_data.avatar == null" class="img-circle" ng-src="./assets/img/default-avatar.png" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{vm.guest_data.first_name}} {{vm.guest_data.last_name}}</h3>
                    <h5 class="widget-user-desc">{{vm.guest_data.gender}} - {{vm.guest_data.birthday}}</h5>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> ID</strong>

                    <p class="text-muted">
                        {{vm.guest_data.identify_card_no}}
                    </p>

                    <hr>

                    <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>

                    <p class="text-muted">
                        {{vm.guest_data.phone}}
                    </p>

                    <hr>

                    <strong><i class="fa  fa-suitcase margin-r-5"></i> Career</strong>

                    <p class="text-muted">
                        {{vm.guest_data.job_name}}
                    </p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>

                    <p class="text-muted">
                        {{vm.guest_data.address}}
                    </p>

                    <hr>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Register</strong>

                    <p class="text-muted">
                        <b ng-if="vm.guest_data.residential_reg_flg">Yes</b>
                        <b ng-if="!vm.guest_data.residential_reg_flg">No</b>
                    </p>

                    <hr>

                    <strong><i class="fa fa-file-image-o margin-r-5"></i> Attach</strong>

                    <p class="text-muted" ng-if="vm.guest_data.attach != null"><img class="img-responsive pad" ng-src="{{vm.guest_data.attach}}" alt="Photo"></p>
                    <p class="text-muted" ng-if="vm.guest_data.attach == null">No attach</p>

                    <hr>

                    <strong><i class="fa fa-motorcycle margin-r-5"></i> Motorcycle(s)</strong>

                    <p class="text-muted">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <i class="fa fa-caret-right"></i> Xe 1
                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-12">
                                <img class="img-responsive pad" src="assets/adminLTE_2/dist/img/photo2.png" alt="Photo">
                            </div>
                            <div class="col-sm-12">
                                <img class="img-responsive pad" src="assets/adminLTE_2/dist/img/photo2.png" alt="Photo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <i class="fa fa-caret-right"></i> Xe 2
                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-12">
                                <img class="img-responsive pad" src="assets/adminLTE_2/dist/img/photo2.png" alt="Photo">
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-8">
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detail</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-money margin-r-5"></i> Cost</strong>

                    <p class="text-muted">
                        <b>{{vm.room_data.room_price}} VND</b>
                    </p>

                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i> Contract</strong>

                    <p class="text-muted" ng-if="vm.room_data.contract_id != 0">
                        By <a ui-sref="app.guest-detail({id:vm.room_data.contract_by_id})">{{vm.room_data.contract_by}}</a> [<a ui-sref="app.contract-detail({id:vm.room_data.contract_id})">view contract</a>]
                    </p>
                    <p class="text-muted" ng-if="vm.room_data.contract_id == 0">Empty</p>

                    <hr>

                    <strong><i class="fa fa-calendar margin-r-5"></i> Range</strong>

                    <p class="text-muted" ng-if="vm.room_data.contract_id != 0">
                        {{vm.room_data.contract_start_date}} - {{vm.room_data.contract_end_date}}
                    </p>
                    <p class="text-muted" ng-if="vm.room_data.contract_id == 0">Empty</p>

                    <hr>

                    <strong><i class="fa fa-bell margin-r-5"></i> Status</strong>

                    <p><span class="label label-danger">Còn nợ 500,000 VND</span></p>

                    <hr>

                    <!--<strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong> <a ng-if="!vm.is_show_note" href="" ng-click="vm.show_note()" title="Edit"><i class="fa fa-pencil-square-o"></i></a>-->
                    <!--<div ng-if="!vm.is_show_note">-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
                    <!--</div>-->
                    <!--<div ng-if="vm.is_show_note">-->
                        <!--<form ng-submit="vm.save_note()">-->
                            <!--<textarea rows="3" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</textarea>-->
                            <!--<button type="submit" class="btn btn-sm btn-primary">Save</button>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!---->
                    <!--<hr>-->

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#activity" data-toggle="tab">Repair(s) history</a></li>
                            <li><a href="#timeline" data-toggle="tab">Security(s) History</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm"
                                             src="./assets/adminLTE_2/dist/img/user1-128x128.jpg" alt="user image">
                                        <span class="username">
                                          <a ui-sref="app.guest-detail">Jonathan Burke Jr.</a>
                                        </span>
                                        <span class="description">Shared publicly - 7:30 PM today</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans. [<a ui-sref="app.issue-detail">view detail</a>]
                                    </p>
                                </div>
                                <!-- /.post -->

                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm"
                                             src="./assets/adminLTE_2/dist/img/user7-128x128.jpg" alt="User Image">
                                        <span class="username">
                                          <a ui-sref="app.guest-detail">Sarah Ross</a>
                                        </span>
                                        <span class="description">Sent you a message - 3 days ago</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans. [<a ui-sref="app.issue-detail">view detail</a>]
                                    </p>
                                </div>
                                <!-- /.post -->

                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm"
                                             src="./assets/adminLTE_2/dist/img/user6-128x128.jpg" alt="User Image">
                                        <span class="username">
                                          <a ui-sref="app.guest-detail">Adam Jones</a>
                                        </span>
                                        <span class="description">Posted 5 photos - 5 days ago</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans. [<a ui-sref="app.issue-detail">view detail</a>]
                                    </p>
                                </div>
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm"
                                             src="./assets/adminLTE_2/dist/img/user7-128x128.jpg" alt="User Image">
                                        <span class="username">
                                          <a ui-sref="app.guest-detail">Sarah Ross</a>
                                        </span>
                                        <span class="description">Sent you a message - 3 days ago</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans. [<a ui-sref="app.issue-detail">view detail</a>]
                                    </p>
                                </div>
                                <!-- /.post -->

                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm"
                                             src="./assets/adminLTE_2/dist/img/user6-128x128.jpg" alt="User Image">
                                        <span class="username">
                                          <a ui-sref="app.guest-detail">Adam Jones</a>
                                        </span>
                                        <span class="description">Posted 5 photos - 5 days ago</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans. [<a ui-sref="app.issue-detail">view detail</a>]
                                    </p>
                                </div>
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- ./row -->
</section>
<!-- /.content -->